#formback {
    /* come back to this later!!! */
    background-color: green;
    margin-left: 25%;
    margin-right: 25%;
}
#title {
    text-align: center;
}
.formcolumn {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: auto;
    grid-gap: 10px;
    padding: 5%;
}
button {
    width: 50%;
    align-self: end;
}
#description {
    text-align: center;
    padding-top: 20px;
}
fieldset { 
    display: block;
    margin-left: 0px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0em;
    padding-right: 0.75em;
    border: none;
}